**/node_modules/
**/.git
**/README.md
**/LICENSE
**/.vscode
**/npm-debug.log
**/coverage
**/.env*
**/.editorconfig
**/.aws
**/dist
**/out
**/bruno
**/build
**/.gitignore
**/.eslint.config.js
**/Makefile
**/README.md
**/docker
**/.github
**/terraform
**/k8s
Makefile
lint-results.json
