**/node_modules/
**/.git
**/README.md
**/LICENSE
**/.vscode
**/npm-debug.log
**/coverage
**/.env
**/.editorconfig
**/.aws
**/dist
**/out
**/bruno
**/build
**/.env.example
**/.gitignore
**/.eslint.config.js
**/Makefile
**/README.md
**/docker
**/.github
Makefile
lint-results.json
